/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px;
    padding-bottom: 8px;
}
/* home section */
#home{
    height:370px;
    padding: 3px 28px;
}
#home{
    height: 480px;
}
#home p{
    font-size: 13px;
}
/* services section */
#services{
    flex-direction: column;
}
#services.box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}
/* clients section */
#client {
    flex-wrap: wrap;
}
#client img{
    width: 66px;
    height: auto;
    padding: 6px;
}
/* contact us section */
#contact-box form{
    width: 80%;
}
/* footer */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}